.contAddPost {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.divMakeAddPost {
    margin: 20px auto;
    margin-bottom: 10px;
    color: rgb(90, 90, 90);
}

.spanMakeAddPost {
    font-size: 30px;
}

.divFormAddPost {
    margin: 20px;
    background: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 15px;
}

.descriptionAddPost {
    margin: 10px 0;
    display: flex;    
}

.spanNameAddPost {
    padding-right: 42px;
}

.spanDescAddPost {
    padding-right: 10px;
}

.nameInputAddPost {
    padding: 5px;
    width: 50%;
    border: none;
    border-radius: 15px;
}
.nameInputAddPost:focus {
    outline: none;
}

.nameDescAddPost {
    padding: 5px;
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.nameDescAddPost:focus {
    outline: none;
}

.submitAddPost {
    border: none;
    color: white;
    background: rgb(240, 240, 240);
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: 500;
    background: #4DB6AC ;
}

.missingName {
    color: tomato;
    margin-left: 5px;
}

.missingDesc {
    color: tomato;
    margin-left: 35px;
}

.loading {
    font-size: 16px;
    font-weight: 500;
    color: rgb(90, 90, 90);
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}