.contAllPosts {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.spanListAllPosts {
    font-size: 30px; 
    color: rgb(90, 90, 90);   
}

.divListAllPosts {
    margin: 20px auto;
}

.divMapAllPosts {
    background: rgb(241, 241, 241);
    margin: 10px auto;
    padding: 10px 20px;
    padding-top: 20px;
    border-radius: 15px;
    width: 500px;
}

.divPostAllPost {
    margin-top: 5px;
}

.divDateAllPost {
    position: absolute;
    margin-top: -22px;
}

.spanDateAllPost {    
    font-size: 13px;
}

.divMapDescAllPosts {
    display: flex;
}

.divMapButtonAllPosts {
    color: white;
    background: rgb(230, 101, 78);
    position: absolute;
    margin-left: 462px;
    margin-top: -14px;
    border-radius: 10px;
    border: none;
    padding: 3px 7px;
    transition: 0.2s;
}
.divMapButtonAllPosts:hover {
    background: rgb(240, 134, 116); 
}

.orderButtonAP {
    display: flex;
    justify-content: flex-end;
}

.olderButtonAP {
    margin-right: 30px;
    border: none;
    color: white;
    background: rgb(240, 240, 240);
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: 500;
    background: #4DB6AC ;
    transition: 0.2s;
}
.olderButtonAP:hover {
    background: #6fc0b8;
}

.newestButtonAP {
    margin-right: 30px;
    border: none;
    color: white;
    background: rgb(240, 240, 240);
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: 500;
    background: #4DB6AC;
    transition: 0.2s;
}
.newestButtonAP:hover {
    background: #6fc0b8;
}


