.contFilterPost {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.divSearchFilterPost {
    margin: 20px auto;
    margin-bottom: 10px;
    color: rgb(90, 90, 90);
}

.spanSearchFilterPost {
    font-size: 30px;
}


.divFormFP {
    display: flex;
    flex-direction: row;
    height: 25px;
}


.divSearchFormFilterPost {    
    margin: 10px auto;
    margin-bottom: 20px;
}

.inpSearchFP {
    border: none;
    background: rgb(238, 238, 238);
    padding: 0px 10px;
    width: 200px;
    border-radius: 15px;
}
.inpSearchFP:focus {    
    outline: none;
}

.resetInputSearchFP {
    position: absolute;
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
    margin-left: 197px;
    margin-top: 4px;
    border: none;
}
.resetInputSearchFP:hover {
    color: rgb(160, 160, 160);
}

.inpSubmitFP {
    margin: 0 5px;
    border: none;
    color: white;
    background: rgb(240, 240, 240);
    border-radius: 15px;
    padding: 0 10px;
    font-weight: 500;
    background: #4DB6AC ;
    transition: 0.2s;
}
.inpSubmitFP:hover {
    background: #6fc0b8;
}

.inpResetFP {
    margin: 0 5px;
    border: none;
    color: white;
    background: rgb(240, 240, 240);
    border-radius: 15px;
    padding: 0 10px;
    font-weight: 500;
    background: rgb(230, 101, 78);
    transition: 0.2s;
}
.inpResetFP:hover {
    background: rgb(240, 134, 116); 
}

.divSearchFP {
    background: rgb(238, 238, 238);
    border-radius: 15px; 
}
